@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

/* SCROLLBAR */
.scrollbar {
  --sb-track-color: #232e33;
  --sb-thumb-color: #4c7a63;
  --sb-size: 6px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
